<h1>Add user</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="my-2 my-lg-0" method="POST" action="/user/add">
    <div class="form-group">
        <label>ID</label>
        <input name="id" class="form-control mr-sm-2" type="text" placeholder="Add ID" aria-label="Search">
    </div>
    <div class="form-group">
        <label>Fist Name</label>
        <input name="firstname" class="form-control mr-sm-2" type="text" placeholder="Add Firstname" aria-label="Search">
    </div>
    <div class="form-group">
        <label>Last Name</label>
        <input name="lastname" class="form-control mr-sm-2" type="text" placeholder="Add Lastname" aria-label="Search">
    </div>
    <div class="form-group">
        <label>Email</label>
        <input name="email" class="form-control mr-sm-2" type="text" placeholder="Add Email" aria-label="Search">
    </div>
    <div class="form-group">
        <label>Phone</label>
        <input name="phone" class="form-control mr-sm-2" type="text" placeholder="Add Phone" aria-label="Search">
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
</form>