<h1>Search users</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form class="form-inline my-2 my-lg-0" method="POST" action="/user/search">
    <div class="form-group">
        <input name="id" class="form-control mr-sm-2" type="text" placeholder="Search Users" aria-label="Search">
    </div>
    <input type="submit" class="btn btn-primary" value="Search">
</form>